# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [1]:
#Dependencies and Setup
import matplotlib.pyplot as plt 
import pandas as pd 
import scipy.stats as st

#Study data files
mouse_metadata_path = "data/Mouse_metadata.csv" 
study_results_path = "data/Study_results.csv"

#Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path) 
study_results = pd.read_csv(study_results_path)

In [25]:
# Combine the data into a single DataFrame
combined_csv_files = pd.merge(study_results, mouse_metadata, on="Mouse ID")
combined_csv_files.sort_values(by=["Metastatic Sites", "Timepoint", "Tumor Volume (mm3)"],ascending=[True, True, True], inplace=True)
combined_csv_files

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
10,f932,0,45.0,0,Ketapril,Male,15,29
11,g107,0,45.0,0,Ketapril,Female,2,29
19,a457,0,45.0,0,Ketapril,Female,11,30
22,c819,0,45.0,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
766,k862,0,45.0,0,Stelasyn,Female,13,25
776,g867,0,45.0,0,Stelasyn,Female,9,25
780,s619,0,45.0,0,Stelasyn,Male,22,30
782,w697,0,45.0,0,Stelasyn,Female,14,30
790,j984,0,45.0,0,Stelasyn,Female,2,30

In [3]:
#Reaarange columns
rearanged_info = pd.DataFrame(combined_csv_files)
new_column_order_set = rearanged_info.sort_values(by=["Timepoint" , "Mouse ID"])
new_column_order_set

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
898,a203,0,45.000000,0,Infubinol,Female,20,23
280,a251,0,45.000000,0,Infubinol,Female,21,25
1125,a262,0,45.000000,0,Placebo,Female,17,29
1478,a275,0,45.000000,0,Ceftamin,Female,20,28
730,a366,0,45.000000,0,Stelasyn,Female,16,29
...,...,...,...,...,...,...,...,...
1364,y865,45,64.729837,3,Ceftamin,Male,23,26
646,z578,45,30.638696,0,Ramicane,Male,11,16
279,z581,45,62.754451,3,Infubinol,Female,24,25
683,z795,45,65.741070,3,Naftisol,Female,13,29
109,z969,45,73.867845,4,Naftisol,Male,9,30

In [4]:
# Checking the number of mice.
mice = combined_csv_files["Mouse ID"].nunique()
mice

249

In [5]:
# Our data should be uniquely identified by Mouse ID and Timepoint
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mouse_id_info = pd.DataFrame(combined_csv_files)
duplicates = duplicate_mouse_id_info[duplicate_mouse_id_info.duplicated(subset="Mouse ID", keep=False)]
duplicates

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
...,...,...,...,...,...,...,...,...
1888,m601,25,33.118756,1,Capomulin,Male,22,17
1889,m601,30,31.758275,1,Capomulin,Male,22,17
1890,m601,35,30.834357,1,Capomulin,Male,22,17
1891,m601,40,31.378045,1,Capomulin,Male,22,17
1892,m601,45,28.430964,1,Capomulin,Male,22,17

In [6]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicates_with_timepoint = duplicates[["Mouse ID", "Timepoint"]]
duplicates_with_timepoint

     Mouse ID  Timepoint
0        b128          0
1        b128          5
2        b128         10
3        b128         15
4        b128         20
...       ...        ...
1888     m601         25
1889     m601         30
1890     m601         35
1891     m601         40
1892     m601         45

[1881 rows x 2 columns]

In [7]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
duplicate_mouseid = pd.DataFrame(combined_csv_files)
drop_duplicate_mouseid = duplicate_mouseid.drop_duplicates(subset="Mouse ID")
drop_duplicate_mouseid

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
10,f932,0,45.0,0,Ketapril,Male,15,29
11,g107,0,45.0,0,Ketapril,Female,2,29
19,a457,0,45.0,0,Ketapril,Female,11,30
22,c819,0,45.0,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1848,t565,0,45.0,0,Capomulin,Female,20,17
1858,i557,0,45.0,0,Capomulin,Female,1,24
1868,m957,0,45.0,0,Capomulin,Female,3,19
1878,f966,0,45.0,0,Capomulin,Male,16,17
1883,m601,0,45.0,0,Capomulin,Male,22,17

In [8]:
# Checking the number of mice in the clean DataFrame.
new_mice_count = drop_duplicate_mouseid["Mouse ID"].nunique()
new_mice_count

249

## Summary Statistics

In [9]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary DataFrame.

In [10]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [11]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using Pandas.

In [12]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using pyplot.

In [13]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [14]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [15]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [16]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 

    
    # Determine outliers using upper and lower bounds

In [17]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [18]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [19]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

## Correlation and Regression

In [20]:
# Calculate the correlation coefficient and a linear regression model 
# for mouse weight and average observed tumor volume for the entire Capomulin regimen