# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [1]:
#Dependencies and Setup
import matplotlib.pyplot as plt 
import pandas as pd 
import scipy.stats as st

#Study data files
mouse_metadata_path = "data/Mouse_metadata.csv" 
study_results_path = "data/Study_results.csv"

#Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path) 
study_results = pd.read_csv(study_results_path)

In [2]:
# Combine the data into a single DataFrame
combined_csv_files = pd.merge(study_results, mouse_metadata, on="Mouse ID")
combined_csv_files.sort_values(by=["Metastatic Sites", "Timepoint", "Tumor Volume (mm3)"],ascending=[True, True, True], inplace=True)
combined_csv_files.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
10,f932,0,45.0,0,Ketapril,Male,15,29
11,g107,0,45.0,0,Ketapril,Female,2,29
19,a457,0,45.0,0,Ketapril,Female,11,30
22,c819,0,45.0,0,Ketapril,Male,21,25

In [3]:
# Checking the number of mice.
mice = combined_csv_files["Mouse ID"].nunique()
mice

249

In [4]:
# Our data should be uniquely identified by Mouse ID and Timepoint
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicates_with_timepoint = combined_csv_files
mouseid_timepoint = ['Mouse ID', 'Timepoint']
duplicate_mouse_time=duplicates_with_timepoint[duplicates_with_timepoint.duplicated(subset=mouseid_timepoint, keep=False)][mouseid_timepoint]
duplicate_mouse_time

    Mouse ID  Timepoint
860     g989          0
861     g989          0
863     g989          5
862     g989          5
865     g989         10
864     g989         10
867     g989         15
866     g989         15
869     g989         20
868     g989         20

In [5]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicates_ID_timepoint = combined_csv_files
duplicate_mouseid_time_allinfo = duplicates_ID_timepoint[duplicates_ID_timepoint.duplicated(["Mouse ID", "Timepoint"], keep=False)]
sorted_duplicate_mouseid_time_allinfo = duplicate_mouseid_time_allinfo.sort_values(by=['Mouse ID', 'Timepoint', 'Tumor Volume (mm3)',  'Metastatic Sites'])
sorted_duplicate_mouseid_time_allinfo

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
860,g989,0,45.000000,0,Propriva,Female,21,26
861,g989,0,45.000000,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
866,g989,15,51.325852,1,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26
868,g989,20,55.326122,1,Propriva,Female,21,26

In [6]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
duplicate_mouseid = pd.DataFrame(combined_csv_files)
drop_duplicate_mouseid = duplicate_mouseid.drop_duplicates(subset="Mouse ID")
drop_duplicate_mouseid

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
10,f932,0,45.0,0,Ketapril,Male,15,29
11,g107,0,45.0,0,Ketapril,Female,2,29
19,a457,0,45.0,0,Ketapril,Female,11,30
22,c819,0,45.0,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1848,t565,0,45.0,0,Capomulin,Female,20,17
1858,i557,0,45.0,0,Capomulin,Female,1,24
1868,m957,0,45.0,0,Capomulin,Female,3,19
1878,f966,0,45.0,0,Capomulin,Male,16,17
1883,m601,0,45.0,0,Capomulin,Male,22,17

In [7]:
# Checking the number of mice in the clean DataFrame.
new_mice_count = drop_duplicate_mouseid["Mouse ID"].nunique()
new_mice_count

249

## Summary Statistics

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
summary_statistics = drop_duplicate_mouseid
summary_statistics.groupby("Drug Regimen")["Tumor Volume (mm3)"].agg(['mean', 'median', 'var', 'std', 'sem'])
summary_statistics_columns = ["Mean", "Median", "Variance", "Standard Deviation", "SEM"]
summary_statistics_columns

['Mean', 'Median', 'Variance', 'Standard Deviation', 'SEM']

In [9]:
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary DataFrame.

In [10]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [11]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using Pandas.

In [12]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using pyplot.

In [13]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [14]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [15]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [16]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 

    
    # Determine outliers using upper and lower bounds

In [17]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [18]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [19]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

## Correlation and Regression

In [20]:
# Calculate the correlation coefficient and a linear regression model 
# for mouse weight and average observed tumor volume for the entire Capomulin regimen